<img src='/images/<%=@image.filename%>'>

<%@tags.each do |tag|%>
  <div>
  Tag: <%=tag.str%>
  <%= link_to 'Edit', edit_tag_path(tag) %>
  <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<%end%>
